.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #EEEEEE;

}

.footer p {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    color: #000;
}